.left-item {
    margin-right: auto;
}

.note-label {
    text-align: center;
}

.centered-item {
    margin-left: auto;
    text-align: center;
}

.right-item {
    margin-left: auto;
}

.wrapper {
    display: flex;
}

.note-wrapper {
    border: solid 1px;
}

.block-item {
    width: 33%;
    border: solid 2px;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
}


.separator {
    margin: 1px;
}

.checked {
    text-decoration: line-through;
}

textarea {
    resize: none;
}

.hidden {
    display: none;
}

.invis {
    visibility: hidden;
}

button:hover, input[type=submit]:hover, input[type=color]:hover {
    background-color: rgb(21, 236, 236);
}